:root{
    --color-texto: #242424;
    --color-fondo: #f5f5f5;
    --padding-general: 1.5rem;
    --inter-navbar {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    };
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



li{
    list-style: none;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    background-color: var(--color-fondo);
    padding: var(--padding-general);
}
.navbar-item {
    color: var(--color-texto);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: var(--padding-general);
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}
.navbar-item:hover{
    background-color: none;
    color: #000;
    text-shadow: 0.5px 0px 0px #636363;
    text-decoration: none;
}
.logo-container{
    display: flex;
    justify-content: left;
    align-items: center;
}
.logo{
    width: 95px;
    justify-self: left;
    margin-right: 1400px;
    display: flex;
}
